<div
    id="{{id}}" style="top: {{top}}px; left: {{left}}px; transform: translate({{offsetX}}px, -140%)"
    class="placeable-hud"
>
    <div class="control-icon waypoint">
        <i class="fas fa-shoe-prints"></i>
    </div>
</div>
