<div id="{{id}}" style="top: {{top}}px; left: {{left}}px; transform: translate({{offsetX}}px, -50%)" class="placeable-hud">
    <div class="control-icon " data-action="combat">
        <i class="fas fa-shoe-prints"></i>
    </div>
</div>
